extends c

priority -49

snippet class "class .. (class)"
class ${1:name} {
public:
	${1/(\w+).*/$1/}();
	virtual ~${1/(\w+).*/$1/}();

private:
	${0:/* data */}
};
endsnippet

snippet struct
struct $1 {
	${0: Contents}
};
endsnippet

snippet map "std::map (map)"
std::map<${1:key}, ${2:value}> $0;
endsnippet

snippet vector
std::vector<${1:type}> ${0:name};
endsnippet

snippet template
template <${1}>
endsnippet

