extends c

priority 1

snippet struct "C++ Struct Declaration" b
struct ${1:/* Name */} {
	${0:// Contents}
};
endsnippet

snippet class "class .. (class)" b
class ${1:Name} {
public:
	${1/(\w+).*/$1/}();
	virtual ~${1/(\w+).*/$1/}();

private:
	${0:// data}
};
endsnippet

snippet map "std::map (map)"
std::map<${1:/* Key */}, ${2:/* Value */}> $0;
endsnippet

snippet vector
std::vector<${1:type}> ${0:name};
endsnippet

snippet template "Template header" b
template <${1:/**/}>
endsnippet

